<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225091758315-3ittpr4eoc11u7d699gm0l59jm5sijf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225091758315-3ittpr4eoc11u7d699gm0l59jm5sijf6</string>
	<key>API_KEY</key>
	<string>AIzaSyAfaVyJjbnGS_ZdfQW5X2wDgP-09Q7KfyU</string>
	<key>GCM_SENDER_ID</key>
	<string>225091758315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>so.informed.staging</string>
	<key>PROJECT_ID</key>
	<string>frontend-staging-328408</string>
	<key>STORAGE_BUCKET</key>
	<string>frontend-staging-328408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225091758315:ios:caf9f1466643c90eab76ae</string>
</dict>
</plist>