<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977073217477-23rf8dm1ijkpa8mu7so1lej6fkqdpu7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977073217477-23rf8dm1ijkpa8mu7so1lej6fkqdpu7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977073217477-4uua6rn5dgaihi3fmf038j6p3mht7dln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqbBTqCgr-lSM66ikm3Nvw0lm-_sUTrHc</string>
	<key>GCM_SENDER_ID</key>
	<string>977073217477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>so.informed.dev</string>
	<key>PROJECT_ID</key>
	<string>frontend-318909</string>
	<key>STORAGE_BUCKET</key>
	<string>frontend-318909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977073217477:ios:d602caea00ad8709ea35ac</string>
</dict>
</plist>