<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689848489360-j94vaefnkq86q0k1pjrp7o0umrolhsat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689848489360-j94vaefnkq86q0k1pjrp7o0umrolhsat</string>
	<key>API_KEY</key>
	<string>AIzaSyBlQKRKJPb_r4RwEgQI__vcrcjGl7S-za0</string>
	<key>GCM_SENDER_ID</key>
	<string>689848489360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>so.informed</string>
	<key>PROJECT_ID</key>
	<string>frontend-production-328408</string>
	<key>STORAGE_BUCKET</key>
	<string>frontend-production-328408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689848489360:ios:ec3c2f398eb6dceba80f15</string>
</dict>
</plist>