APP_DISPLAY_NAME=informed dev
APP_LINKS_HOST=dev.informed.so
APP_LINKS_HOST_2=www.staging.informed.so
ONELINK_HOST=informed-staging.onelink.me
ONELINK_CUSTOM_HOST=get.staging.informed.so
SEGMENT_WRITE_KEY=jmJAkhCovDOdxwUqbDBgpFW4xWkpLUte
FACEBOOK_APP_ID=
FACEBOOK_CLIENT_TOKEN=
GOOGLE_SIGN_IN_URL=com.googleusercontent.apps.977073217477-23rf8dm1ijkpa8mu7so1lej6fkqdpu7r
