#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include "Generated.xcconfig"

APP_DISPLAY_NAME=informed
APP_LINKS_HOST=app.informed.so
APP_LINKS_HOST_2=www.informed.so
ONELINK_HOST=informed.onelink.me
ONELINK_CUSTOM_HOST=get.informed.so
SEGMENT_WRITE_KEY=Jp2reNsfGRxapvFlgmDYBsRJ2LA2TLSP
FACEBOOK_APP_ID=525120512609664
FACEBOOK_CLIENT_TOKEN=787641aaa83ae017e3648c1f0c0e46a8
GOOGLE_SIGN_IN_URL=com.googleusercontent.apps.689848489360-j94vaefnkq86q0k1pjrp7o0umrolhsat
