#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-stage.xcconfig"
#include "Generated.xcconfig"

APP_DISPLAY_NAME=informed test
APP_LINKS_HOST=app.staging.informed.so
APP_LINKS_HOST_2=www.staging.informed.so
ONELINK_HOST=informed-staging.onelink.me
ONELINK_CUSTOM_HOST=get.staging.informed.so
SEGMENT_WRITE_KEY=jmJAkhCovDOdxwUqbDBgpFW4xWkpLUte
FACEBOOK_APP_ID=345458011020663
